<form (submit)="submit(issueForm)" #issueForm="ngForm">
  <div class="form-group">
    <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
    <mat-form-field>
      <input matInput
        type="text"
        name="name"
        [(ngModel)]="model.name"
        aria-describedby="nameHelp"
        placeholder="Enter name"
        required
        #name="ngModel">
    </mat-form-field>
    <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.errors.required">
      Name is required!
    </mat-error>
  </div>

  <div class="form-group">
    <!-- <small id="locationHelp" class="form-text text-muted">Give the location of the issue (e.g. labor)</small> -->
    <mat-form-field>
      <input matInput
        type="text"
        name="difficulty"
        [(ngModel)]="model.difficulty"
        aria-describedby="difficultyHelp"
        placeholder="Enter difficulty"
        required
        #difficulty="ngModel">
    </mat-form-field>
    <mat-error *ngIf="difficulty.invalid && (difficulty.dirty || difficulty.touched) && difficulty.errors.required">
      Difficulty is required!
    </mat-error>
    <mat-error *ngIf="difficulty.invalid && (difficulty.dirty || difficulty.touched) && difficulty.errors.pattern">
      Difficulty must start with PC...!
    </mat-error>
  </div>
    
    <div class="form-group">
      <!-- <small id="descriptionHelp" class="form-text text-muted">The error details</small> -->
      <mat-form-field>
        <textarea matInput
          name="description"
          [(ngModel)]="model.description"
          aria-describedby="descriptionHelp"
          placeholder="Enter details">
        </textarea>
      </mat-form-field>
    </div>
    
    <button mat-raised-button
      [disabled]="!issueForm.valid" 
      type="submit"
      color="primary">
     Mentés
    </button>
  </form>