/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
        background-color: lavender;
        font-family: cursive;
}
h1{
        color: rgb(35, 26, 83);  
        text-shadow: 2px 2px hsl(180, 3%, 49%);      
}
a{
        color: rgb(190, 124, 235);
}