/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
        background-color: lavender;
        font-family: cursive;
}
h1{
        color: rgb(35, 26, 83);  
        text-shadow: 2px 2px hsl(180, 3%, 49%);      
}
a{
        color: rgb(190, 124, 235);
}
div{
        margin-left: 20px;
}
p{
        padding:20px;
}
.button {
        background-color: rgb(255, 255, 255);
        border: none;
        color: rgb(35, 26, 83);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        margin-left: 50px;
        cursor: help;
      }
 ul {
        list-style-type: circle;
}